<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
    <property name = "hibernate.dialect">
        org.hibernate.dialect.MySQLDialect
    </property>
      
    <property name = "hibernate.connection.driver_class">
        com.mysql.cj.jdbc.Driver
    </property>
        
    <property name = "hibernate.connection.url">
        jdbc:mysql://ipobfcpvprjpmdo9.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/cu02i9rvbwm74xzn?serverTimezone=UTC&amp;useSSL=false
    </property>
    
    <property name = "hibernate.connection.username">
        bguaukpjgl4bewm2
    </property>
    
    <property name = "hibernate.connection.password">
        beioaf1xfbjk7rj1
    </property>

    <property name="connection.pool_size">
        10
    </property>

    <mapping class="ca.mcgill.ecse321.model.Admin" />
    <mapping class="ca.mcgill.ecse321.model.Car" />
    <mapping class="ca.mcgill.ecse321.model.Driver" />
    <mapping class="ca.mcgill.ecse321.model.Leg" />
    <mapping class="ca.mcgill.ecse321.model.Passenger" />
    <mapping class="ca.mcgill.ecse321.model.PassengerTrip" />
    <mapping class="ca.mcgill.ecse321.model.Trip" />
    <mapping class="ca.mcgill.ecse321.model.User" />
    <mapping class="ca.mcgill.ecse321.model.Request" />
      
   </session-factory>
</hibernate-configuration>
