<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mcgill.ecse321.ridesharerdriver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignUpOrIn"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".SignUpOrIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SignUpOrIn" />
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName=".SignUpOrIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SignUpOrIn" />
        </activity>
        <activity
            android:name=".ManageTrips"
            android:label="@string/title_activity_manage_trips"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.MainMenu" />
        </activity>
        <activity
            android:name=".UpdateTrip"
            android:label="@string/title_activity_update_trip"
            android:parentActivityName=".ManageTrips">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageTrips" />
        </activity>
        <activity
            android:name=".CreateTrip"
            android:label="Welcome"
            android:parentActivityName=".ManageTrips">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageTrips" />
        </activity>
        <activity
            android:name=".CancelTrip"
            android:label="@string/title_activity_cancel_trip"
            android:parentActivityName=".ManageTrips">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageTrips" />
        </activity>
        <activity
            android:name=".ConfirmBooking"
            android:label="@string/title_activity_confirm_booking"
            android:parentActivityName=".ManageTrips">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageTrips" />
        </activity>
        <activity
            android:name=".CompleteTrip"
            android:label="@string/title_activity_complete_trip"
            android:parentActivityName=".ManageTrips">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageTrips" />
        </activity>
        <activity
            android:name=".ManageCar"
            android:label="@string/title_activity_manage_car"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.MainMenu" />
        </activity>
        <activity
            android:name=".CreateCar"
            android:label="@string/title_activity_create_car"
            android:parentActivityName=".ManageCar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageCar" />
        </activity>
        <activity
            android:name=".UpdateCar"
            android:label="@string/title_activity_update_car"
            android:parentActivityName=".ManageCar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageCar" />
        </activity>
        <activity
            android:name=".RemoveCar"
            android:label="@string/title_activity_remove_car"
            android:parentActivityName=".ManageCar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageCar" />
        </activity>
        <activity
            android:name=".ManageProfile"
            android:label="@string/title_activity_manage_profile"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.MainMenu" />
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:parentActivityName=".ManageProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageProfile" />
        </activity>
        <activity
            android:name=".UpdateInfo"
            android:label="@string/title_activity_update_info"
            android:parentActivityName=".ManageProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageProfile" />
        </activity>
        <activity
            android:name=".RemoveUser"
            android:label="@string/title_activity_remove_user"
            android:parentActivityName=".ManageProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.ManageProfile" />
        </activity>
        <activity
            android:name=".SelectTime"
            android:label="Date and Time"
            android:parentActivityName=".CreateTrip">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.CreateTrip" />
        </activity>
        <activity
            android:name=".SelectDate"
            android:label="HELLO"
            android:parentActivityName=".SelectTime">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SelectTime" />
        </activity>
        <activity
            android:name=".SelectUsername"
            android:label="Number of Seats"
            android:parentActivityName=".SelectDate">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SelectTime" />
        </activity>
        <activity
            android:name=".SelectStartEnd"
            android:label="Start and End"
            android:parentActivityName=".SelectUsername">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SelectUsername" />
        </activity>
        <activity
            android:name=".SelectCarIDNumSeats"
            android:label="Select Car"
            android:parentActivityName=".SelectStartEnd">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SelectStartEnd" />
        </activity>
        <activity
            android:name=".SelectRoutePrices"
            android:label="Route and Prices"
            android:parentActivityName=".SelectCarIDNumSeats">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SelectCarIDNumSeats" />
        </activity>
        <activity
            android:name=".CreateFinalTrip"
            android:label="Review"
            android:parentActivityName=".SelectRoutePrices"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.SelectRoutePrices" />
        </activity>
        <activity
            android:name=".UpdateTripFields"
            android:label="@string/title_activity_update_trip_fields"
            android:parentActivityName=".UpdateTrip">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.UpdateTrip" />
        </activity>
        <activity
            android:name=".FinishCreateTrip"
            android:label="Confirmation"
            android:parentActivityName=".CreateFinalTrip"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.mcgill.ecse321.ridesharerdriver.CreateFinalTrip" />
        </activity>
    </application>

</manifest>